body {
    background-color: black;
}

.main-container {
    display:flex;
    width: 100%;
}

.left-div {
    display: flex;
    flex-direction: column;

    background-image: url('./caleb-george.jpg'); /* image by Caleb George */
    background-size: 100% 100%;  /* makes background image whole with nothing cut off */
    background-position: left;

    margin-left: 250px;
    height: 300px;
    width: 10%;
}

.left-div div {
    flex:1;     /* this centers the odin logo div */
}

.odin-logo {
}

.logo-div {
    background-color: black;
    opacity: 0.5;

}

.right-div {
    display: inline-block;
    color: white;
}