@font-face {
    font-family: 'norse-bold';
    src: url('Norse-Bold.otf'); 
}

body {
    background-color: black;
    height: 100;
}

.main-container {
    display:flex;
    width: 100%;
}

.left-div {
    /* display: flex;
    flex-direction: column; */

    background-image: url('./caleb-george.jpg'); /* image by Caleb George */
    background-size: 100% 100%;  /* makes background image whole with nothing cut off */
    background-position: left;

    margin-left: 250px;
    height: 600px;
    width: 300px;
}

.odin-logo {
    height: 80px;
}

span {
    font-family: norse-bold;
    font-size: 60px;
    color: white;
}

.logo-div {
    background-color: rgba(0 0 0 / 0.5); /* opacity will cause text to also be transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 150px;
}

.right-div {
    display: inline-block;
    color: black;
    background-color: azure;
    padding: 20px;
    width: 600px;
}

.forms-container {
    display: flex;
    flex-direction: row;
}

.forms-div-left, .forms-div-right {
    background-color: lightgrey;
    width: 50%;
    padding: 10px;
}

label {
    display: block;
}

.button {
    padding: 10px;
}

button {
    background-color: lightblue;
    border: darkblue;
    border-radius: 2px;
}
